/sorting-algorithms/.idea/
/sorting-algorithms/*.iml
/sorting-algorithms/target/
/sorting-algorithms/build/
/sorting-algorithms/dist/
/sorting-algorithms/.settings/
/sorting-algorithms/*.classpath
/sorting-algorithms/*.project
/sorting-algorithms/.manager/
/sorting-algorithms/.scala_dependencies/
/sorting-algorithms/.vscode/
/sorting-algorithms/build.log
/sorting-algorithms/dependency-reduced-pom.xml
/.DS_Store

